* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  padding: 5rem;
  align-items: center;
  justify-content: center;
}

.box {
  padding: 2rem;
  background-color: blue;
  border: 1px solid skyblue;
  color: white;
  font-size: 1.5rem;
}

.box:nth-of-type(1) {
  background-color: black;
  /* grid-column: span 2;
  grid-row: span 5; */
}
