.container {
  min-height: 100vh;
}

.box {
  height: 200px;
  width: 200px;
}

.box:nth-child(1) {
  background-color: red;
}
.box:nth-child(2) {
  background-color: violet;
}

.box:nth-child(3) {
  background-color: blue;
}

.box:last-child {
  background-color: orange;
}
